.card {
  /* Add shadows to create the "card" effect */
  border: 1px solid rgba(150,150,150,0.3);
  border-bottom-color: rgba(125,125,125,0.3);
  margin-bottom: 16px;
  padding: 22px 22px 18px 22px;
  transition: 0.3s;
  width: 434px;
}

@media screen and (max-width: 2560px) {
  div.card {
    margin-left: 7.4%;
    margin-top: 0.5%;
  }
}

@media screen and (max-width: 1440px) {
  div.card {
    margin-left: 11.5%;
    margin-bottom: -0.1%;
  }
}

@media screen and (max-width: 1024px) {
  div.card {
    margin-left: 13%;
  }
}

@media screen and (max-width: 768px) {
  div.card {
    margin-left: 17%;
  }
}

@media screen and (max-width: 450px) {
  div.card{
    width: 92vw;
  }
}

@media screen and (max-width: 425px) {
  div.card {
    margin-left: 2%;
    margin-top: 2%;
  }
}
