<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <!-- Start ignoring HTMLLintBear -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- Stop ignoring HTMLLintBear -->
      <h4 class="modal-title" id="my-modal-label">Languages</h4>
      <button type="button" (click)="englishLang()">English</button>
      <button type="button" (click)="spanishLang()">Spanish</button>
    </div>
  </div>
</div>