a {
  text-decoration: none;
}

.suggestions {
  font-family: Arial, sans-serif;
  font-size: 17px;
  margin-left: 2.4%;
}

.query-suggestions:hover {
  background: #E3E3E3;
}

.suggestion-box{
  width: 586px;
  max-width: 100%;
  border: 1px solid rgba(150,150,150,0.3);
  background-color: white;
  margin-left: -24.2px;
  position: absolute;
  box-shadow: 0px 0.2px 0px;
}

@media screen and (max-width: 979px) {
  div.suggestion-box {
    margin-left: -1.6%;
    max-width: 600px;
  }
}

@media screen and (max-width: 977px) {
  div.suggestion-box {
    margin-left: -1.3%;
  }
}

@media screen and (max-width: 967px) {
  div.suggestion-box {
    margin-left: -0.7%;
  }
}

@media screen and (max-width: 964px) {
  div.suggestion-box {
    margin-left: -1.2%;
  }
}

@media screen and (max-width: 961px) {
  .suggestion-box {
    margin-left: -10.6px;
  }
}

@media screen and (max-width: 767px) {
  .suggestion-box {
    display: none;
  }
}
